$def with(user)
<table>
    <tr>
        <td>
            <!-- Static Menu I-->
            <table>
                <!-- Welcome -->
                <tr>
                    <td>
                        <h4>Bienvenido $user[0]['user_name']</h4>
                    </td>
                </tr>
                <!-- Menu -->
                <tr style="background-color:03A200">
                    <td>
                        <a href="/index/$user[0]['id_user']" style="color:white">
                            <h5 style="text-align:center">Inicio</h5>
                        </a>
                    </td>
                </tr>
                <tr style="background-color:03A200">
                    <td>
                        <a href="/alimentos/$user[0]['id_user']" style="color:white">
                            <h6 style="text-align:center">Alimentos Vigentes Para Animales</h6>
                        </a>
                    </td>
                </tr>
                <tr style="background-color:03A200">
                    <td>
                        <a href="/cuenta/$user[0]['id_user']" style="color:white">
                            <h6 style="text-align:center">Cuenta</h6>
                        </a>
                    </td>
                </tr>
                <tr style="background-color:03A200">
                    <td>
                        <a href="/" style="color:white">
                            <h6 style="text-align:center">Cerrar Sesión</h6>
                        </a>
                    </td>
                </tr>
            </table>
            <!-- Static Menu I-->
        </td>
        <!-- Content I-->
        <td>

        </td>
        <!-- Content I-->
    </tr>

</table>